// brand colors
$aqwire-blue: #36d1dc;
$aqwire-purple: #633afc;

$kaldi-red: #a4001b;
$kaldi-red-invert: #fff;
$black: #000;
$white: #fff;
$aliceblue: #F9FCFF;
$gold: #FFBF00;
$orange: #F1744D;
$violet: #8812FE;
$dark-teal: #91F2F9;
$light-teal: #C8FBFF;
$zambezi-black: #595959;
$eclipse-black: #363636;
$whisper-white: #E6E6E6;
$suva-grey:  #8C8C8C;
$faux-turquoise: #30CCD8;
$light-cyan: #E7F9FB;
$whisper-grey: #ededed;
