// Brand Colors

//4Gives Yellow
$yellow-10: #FFDB46;
$yellow-09: #FFDE5C;
$yellow-08: #FFE270;
$yellow-07: #FFE785;
$yellow-06: #FFEB99;
$yellow-05: #FFEFAD;
$yellow-04: #FFF3C2;
$yellow-03: #FFF3C2;
$yellow-02: #FDF6D8;
$yellow-01: #FFFBEB;

//White
$white-10: #0D0D0D;
$white-09: #262626;
$white-08: #545454;
$white-07: #8C8C8C;
$white-06: #BFBFBF;
$white-05: #D9D9D9;
$white-04: #E8E8E8;
$white-03: #F5F5F5;
$white-02: #FAFAFA;
$white-01: #FFFFFF;

//Picton Blue
$blue-10: #176FD3;
$blue-09: #2481DA;
$blue-08: #2C8BDE;
$blue-07: #3395E2;
$blue-06: #399DE5;
$blue-05: #57ACE9;
$blue-04: #74BAED;
$blue-03: #9CCEF2;
$blue-02: #C4E2F7;
$blue-01: #E7F3FC;

//Conifer Green
$green-10: #68BC20;
$green-09: #79C62F;
$green-08: #83CC37;
$green-07: #8ED140;
$green-06: #A6DC63; 
$green-05: #A6DC63;
$green-04: #B6E27E;
$green-03: #CBEBA3;
$green-02: #E0F3C8;
$green-01: #F2FAE9;

//Fulvous
$orange-10: #D48000; 
$orange-09: #F59300;
$orange-08: #FF9D0A;
$orange-07: #FFA51F;
$orange-06: #FFAD33;
$orange-05: #FFB647;
$orange-04: #FFBE5C;
$orange-03: #FFC670;
$orange-02: #FFCE85;
$orange-01: #FFD699;

//Trinidad Red
$red-10: #DD1700;
$red-09: #E22400;
$red-08: #E52B00;
$red-07: #E93200;
$red-06: #EB3800;
$red-05: #EE5626;
$red-04: #F1744D;
$red-03: #F59C80;
$red-02: #F9C3B3;
$red-01: #FDE7E0;

//Electric Violet
$violet-10: #6106FD;
$violet-09: #730BFE;
$violet-08: #7D0EFE;
$violet-07: #8812FE;
$violet-06: #9014FE;
$violet-05: #A137FE;
$violet-04: #B15BFE;
$violet-03: #C88AFF;
$violet-02: #DEB9FF;
$violet-01: #F2E3FF;
